<h1>WELCOME TO FLASH CARDS </h1>

<form method="post" action="/games">
  <label>Deck 1:</label>
  <input name="game[deck_id]" type="hidden" value= 1>
  <input type="submit" value="History!" class="button">
</form>

<form method="post" action="/games">
  <label>Deck 2:</label>
  <input name="game[deck_id]" type="hidden" value= 2>
  <input type="submit" value="Science!" class="button">
</form>


<form method="post" action="/games">
  <label>Deck 3:</label>
  <input name="game[deck_id]" type="hidden" value= 3 >
  <input type="submit" value="Pan Facts!" class="button">
</form>
